/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

:root {
    --today-background-color: #4A90E2; 
    --hover-background-color: #00C853; 
    --prev-next-month-color: #F0F0F0; 
}

/* Calendar Styles */
.calendar {
    width: 70%;
    height: 450px;
    max-width: 900px;
    min-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow: hidden;
}

.years-section {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 20px;
}

.years-section button {
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #000;
}

.month-section #months-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.month-section #months-list li {
    padding: 10px 20px;
    cursor: pointer;
}

.month-section #months-list li.active {
    background-color: #fff;
    color: black;
    position: relative;
}

.month-section #months-list li.active::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: var(--hover-background-color);
}

.days {
    height: 100%;
    padding: 15px;
    background-color: #fff;
}

.days-section {
    padding: 10px 0;
}

.days-section #days-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.days-section #days-list li {
    text-align: center;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px;
}

.days-number-section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    font-weight: 600;
}

.days-number-section .day-number,
.prev-month,
.next-month {
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px 0;
    cursor: pointer;
}

.days-number-section .day-number:hover {
    background-color: var(--hover-background-color);
    color: #fff;
}

.days-number-section .day-number.empty {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
}

.days-number-section .day-number.today {
    background-color: var(--today-background-color);
    color: #fff;
}

.prev-month,
.next-month {
    background-color: var(--prev-next-month-color);
}

.prev-month:hover,
.next-month:hover {
    background-color: var(--hover-background-color);
    color: #fff;
}

.days-number-section .day-number.has-memory {
    background-color: #E6AF2E;
    color: #fff;
}

/* Display Alert Styles */
.display-alert {
    width: 100%;
    height: 100vh;
    background: rgba(155, 155, 155, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(155, 155, 155, 0.3);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-alert .alert {
    background-color: #fff;
    width: 400px;
    min-width: 200px;
    border-radius: 7px;
    position: relative;
    height: 70vh;
    padding: 15px;
}

.display-alert .alert > header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.display-alert .alert > header > span {
    font-weight: bold;
}

.display-alert .alert > header .close-alert {
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 50%;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.display-alert .alert > header .close-alert:hover {
    background-color: #dddddda2;
}

.display-alert .alert-content .add-btn {
    width: 40px;
    height: 40px;
    background-color: #0000ff;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.display-alert .alert-content .add-btn:hover {
    background-color: #0000c4;
}

.display-alert .alert-content .memories {
    overflow-y: auto;
    height: 55vh;
}

.display-alert .alert-content .memories::-webkit-scrollbar {
    width: 5px;
}

/* Memories Section */
.memories-section {
    border: 1px solid;
    margin: 10px 0;
    border-radius: 7px;
    display: flex;
    width: 100%;
}

.memories-section .memory {
    width: 100%;
    display: flex;
    padding: 3px;
    align-items: center;
}

.memories-section .memory .title {
    width: 100%;
    text-indent: 7px;
    font-weight: 600;
}

.memories-section .memory .memory-actions {
    display: flex;
}

.memories-section .memory .memory-actions button {
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
}

.memories-section .memory .memory-actions button:hover {
    background-color: #dddddda2;
}

/* Memory Add Style */
.memory-entry {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid;
    width: 80%;
    padding: 10px;
    position: absolute;
}

.memory-entry .memory {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 10px;
}

.memory-entry .memory .memory-title,
.memory-entry .memory .memory-text {
    width: 100%;
    border: 1px solid;
    outline: none;
    border-radius: 5px;
    resize: none;
}

.memory-entry .memory .memory-title {
    padding: 7px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.memory-entry .memory .memory-text {
    padding: 7px;
    height: 400px;
}

.memory-entry .memory-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.memory-entry .memory-btn button {
    padding: 7px 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.memory-entry .memory-btn button:first-child {
    border: 1px solid;
}

.memory-entry .memory-btn button:last-child {
    border: 1px solid #764abc;
    background-color: #764abc;
    color: #fff;
}

/* Tablet Styles */
@media (max-width: 800px) {
    .calendar {
        width: 90%;
        min-width: 300px;
    }
}
